# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
CLIENT_URL=https://mycosts.me
# Configurações do React
REACT_APP_API_URL=https://costs-backend-68el.onrender.com
