.loader_container {
  width: 100%;
  height: 100%;
  min-width: 300px;
    min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #ffbb33;
    border-radius: 50%;
    margin: 0 auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}