.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;

}

.item a{
    color: #fff;
    text-decoration: none;
}

.item a:hover{
    color: #ffbb33;
    
}

.help_btn {
    background-color: transparent;
    color: #ffbb33;
    border: 2px solid #ffbb33;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-left: 1em;
    font-size: 0.9em;
}

.help_btn:hover {
    background-color: #ffbb33;
    color: #222;
}